NEXT_PUBLIC_SUPABASE_URL=https://knsmgfdaelumdsqaiipc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtuc21nZmRhZWx1bWRzcWFpaXBjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzEyNjI2NTUsImV4cCI6MjA4NjgzODY1NX0.WyvbCtAlRe607G8teVNkS8hgThoZ68o8_0oE2KUZXWU
NEXT_PUBLIC_LIVEKIT_URL=wss://voidline-vqrh2i6c.livekit.cloud
LIVEKIT_API_KEY=APIqwDUA5WAXdyM
LIVEKIT_API_SECRET=o1wy08narEEOq4zrhudvPLyfaVGYRbYwWmZsrcvfOIl
